body {
    display: grid;
    grid-template-columns: 355px 800px 355px;
    grid-template-rows: 150px 400px 150px;
}

.part1 {
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}
.first
{
    display: inline;
}
.second
{
    display: inline;
}
.countdown {
    position: relative;
    z-index: 2;
    width: 100px;
    height: 50px;
    border-radius: 20px;
    background-color: coral;
}

.part2 {
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
}

.part3 {
    background-color: chocolate;
    display: flex;
    justify-content: center;
    align-items: center;
}

.part4 {
    background-color: cadetblue;
}

.part5 {
    background-color: white;
}

.part6 {
    background-color: crimson;
}

.part7 {
    background-color: darkgreen;

}

.part8 {
    background-color: darkorchid;
}

.part9 {
    background-color: goldenrod;
}

@keyframes motion {
    from {
        transform: translateX(0px);
    }

    to {
        transform: translateX(-800px);
    }
}

.box {
    width: 800px;
    height: 400px;
    background: url(grid-line-pattern-with-blue-texture-background_1409-1354.avif) repeat;
}

.pointer {
    width: 15px;
    height: 15px;
}

.fa-solid {
    width: 15px;
    height: 15px;
    position: absolute;
    z-index: 2;
    color: pink;
    display: inline;
}

.up {
    transform: translateX(100px);
}

.number {
    position: absolute;
    z-index: 0;
    width: 15px;
    height: 15px;
    color: yellow;
}