body {
    display: grid;
    grid-template-columns: 355px 800px 355px;
    grid-template-rows: 160px 400px 160px;
    font-family: 'Tektur', sans-serif;
    background-image: linear-gradient(blueviolet,white);
    
}

.part1 {
    display: flex;
    justify-content: center;
    color: rgb(77, 63, 63);
    font-weight: bold;
    align-items: center;
    font-size: 20px;
}

.first,
.second {
    width: 5px;
    display: inline;
    height: 5px;
    background-color: #b7afaf;
    border-radius: 30px;
    font-size: 18px;
}

.timer {

    width: 169px;
    height: 75px;
    border-radius: 20px;
    background-color: #d0d0e2;
    /* opacity: 0.7; */
    box-shadow: 10px 5px 5px rgb(146, 126, 126);
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.countdown {
    position: relative;
    z-index: 2;
}

.part2 h1 {
    width: 800px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #d0d0e2;
    box-shadow: 10px 5px 5px rgb(146, 126, 126);
}
.part2,.part3,.part4,.part6{
    display: flex;
    justify-content: center;
    color: rgb(77, 63, 63);
    font-weight: bold;
    align-items: center;
}

.part3 h2{
    width: 160px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #d0d0e2;
    box-shadow: 10px 5px 5px rgb(146, 126, 126);
}
    


.part4 div,.part6 div{
    width: 160px;
    height: 400px;
    border-radius: 20px;
    background-color: #d0d0e2;
    box-shadow: 10px 5px 5px rgb(146, 126, 126);
}

@keyframes motion {
    from {
        transform: translateX(0px);
    }

    to {
        transform: translateX(-800px);
    }
}

.box {
    width: 800px;
    height: 400px;
    border-radius: 20px;
    background-color: #d0d0e2;
    box-shadow: 10px 5px 5px rgb(146, 126, 126);
}

.pointer {
    width: 15px;
    height: 15px;
}

.fa-solid {
    width: 15px;
    height: 15px;
    position: absolute;
    z-index: 2;
    color: rgb(70, 7, 70);
    display: inline;
}

.up {
    transform: translateX(100px);
}

.number {
    position: absolute;
    z-index: 0;
    width: 20px;
    height: 20px;
    font-size: 20px;
    color: rgb(20, 80, 164);
}